body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/463/682/non_2x/warehouse-aisle-in-an-ikea-store-free-photo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

img{
    width:100px;
    height:100%;
}

.man{
    position: absolute;
    width: 200px;
    height: 250px;
    bottom: 90px;
    right: 300px;
}

#hammer{
    position: absolute;
    width: 20px;
    height: 30px;
    left: 10px;
    bottom: 0px;
}

span{
    font-size: 1cm;
    background-color: rgb(00, 51, 153);
    display: flex;
    justify-content: center;
}
#gateTextInfo{
    position: absolute;
    font-size: 0.9cm;
    background-color: rgb(00, 51, 153);
    display: flex;
    justify-content: center;
  
}

aside{
    font-size: x-large;
    background-color: rgb(255, 204, 00);
    display: flex;
    justify-content: center;

}

#confused{
    position: absolute;
    width: 200px;
    height: 250px;
    bottom: 90px;
    right: 300px;
}

#two{
    position: absolute;
    width: 220px;
    height: 250px;
    bottom: 90px;
    right: 280px;
}
    
#friend{
    position: absolute;
    width: 20px;
    height: 40px;
    top: 295px;
    right: 24px;
}

p{
    position: absolute;
    background-color: rgb(255, 204, 00);
    width: 340px;
    font-size: xx-large;
    bottom: 350px;
    right: 100px;
}

#button{
position: absolute;
   height:70px;
   width: 120px;
   border-color: black;
   background-color: rgb(255, 204, 00);
   font-weight: 600;
   font-size: 0.3cm;
   bottom: 50px;
   left: 590px;
}

#chair{
    position: absolute;
    width: 180px;
    height: 210px;
    bottom: 60px;
    left: 240px;
}

#brokenchair{
    position: absolute;
    width: 200px;
    height: 210px;
    bottom: 60px;
    left: 240px;
}

#gameover{
    position:absolute;
    bottom: 300px;
    left: 170px;
    height: 100px;
    width: 250px;
    font-size: 0.6cm;
    background-color: rgb(255, 204, 00);  
}

#gamefinished{
    position:absolute;
    bottom: 300px;
    left: 170px;
    height: 100px;
    width: 250px;
    font-size: 0.6cm;
    background-color: rgb(255, 204, 00); 
}

/* main{
    position:absolute;
    bottom: 300px;
    height: 100px;
    background-color: rgb(255, 204, 00);
} */