body{
background-color: rgb(00, 51, 153);
}

img{
    width: 600px;
    height: 600px;
}

button{
    width: 150px;
    height: 100px;
    font-size: larger;
    background-color: rgb(255, 201, 00);
}